.options {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.option {
	margin-left: 5rem;
	margin-right: 5rem;
	color: var(--secondary);
}

.constructionBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.default-link {
	text-decoration: inherit;
	color: var(--secondary);
}

.footer {
	margin-top: 15px;
	margin-bottom: 15px;
}

.card-title {
	color: var(--neutral);
	font-size: 200%;
}

.card-text {
	color: var(--primary);
	font-size: 1rem;
	font-weight: bolder;
	width: 40rem;
	height: 3rem;
}

.card-button {
	background-color: var(--secondary);
	color: var(--dark);
	font-size: 1rem;
	padding: 0.375rem 0.75rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	line-height: 1.5;
	text-decoration: none;
}

.card {
	width: 50%;
	background-color: var(--bglighter);
	padding: 2.5%;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-title {
	text-align: center;
}
